STOCKHOUSE_PRODAT_IN_FLAT_DOC.inc.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns="http://www.seeburger.com/Project_Name/Schema_Name" xmlns:bic="http://www.seeburger.com/bicng/lang/schema/" xmlns:inhouse="http://www.seeburger.com/bicng/lang/schema/inhouse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" bic:messageType="INHOUSE" elementFormDefault="qualified" targetNamespace="http://www.seeburger.com/Project_Name/Schema_Name">
	<xsd:import namespace="http://www.seeburger.com/bicng/lang/schema/inhouse" schemaLocation="platform:/plugin/com.seeburger.bicng.lang.schema.facade.inhouse/resources/inhouse.xsd"/>
	<xsd:element name="Schema_Name">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="inhouse:InhouseMessageRoot">
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="UNA">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="UNA" maxOccurs="1" minOccurs="0" name="S_UNA_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="UNA"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA1">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNA_UNA6">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="UNB">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="UNB" maxOccurs="1" minOccurs="0" name="S_UNB_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="UNB"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0001">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0002">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0004">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0007">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0008">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0010">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0007_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0014">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0017">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0019">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0020">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0022">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0025">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0026">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0029">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0031">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0032">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNB_e0035">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="UNH">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="UNH" maxOccurs="1" minOccurs="0" name="S_UNH_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="UNH"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0062">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0065">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0052">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0054">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0051">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNH_e0057">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="BGM">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="BGM" maxOccurs="1" minOccurs="0" name="S_BGM_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="BGM"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e1001">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e1000">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e1004">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e1225">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_BGM_e4343">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="DTM">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="DTM" maxOccurs="1" minOccurs="0" name="S_DTM_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="DTM"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM_e2005">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM_e2380">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM_e2379">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="RFF">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="RFF" maxOccurs="1" minOccurs="0" name="S_RFF_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="RFF"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_RFF_e1153">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_RFF_e1154">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_RFF_e1156">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_RFF_e4000">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="LIN">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="LIN" maxOccurs="1" minOccurs="0" name="S_LIN_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="LIN"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e1082">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e1229">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e7140">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e7143">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e5495">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e1082_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e1222">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_LIN_e7083">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="PIA">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="PIA" maxOccurs="1" minOccurs="0" name="S_PIA_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="PIA"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e4347">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7140">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7143">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7140_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7143_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e1131_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e3055_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7140_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7143_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e1131_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e3055_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7140_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7143_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e1131_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e3055_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7140_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e7143_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e1131_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_PIA_e3055_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="DTM2">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="DTM2" maxOccurs="1" minOccurs="0" name="S_DTM2_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="DTM2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM2_e2005">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM2_e2380">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DTM2_e2379">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="IMD">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="IMD" maxOccurs="1" minOccurs="0" name="S_IMD_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="IMD"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7077">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7081">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7009">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="17"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7008">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7008_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e3453">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_IMD_e7383">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="CCI">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="CCI" maxOccurs="1" minOccurs="0" name="S_CCI_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="CCI"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e7059">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e6313">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e6321">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e6155">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e6154">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="70"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e7037">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="17"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e7036">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI_e7036_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="NAD">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="NAD" maxOccurs="1" minOccurs="0" name="S_NAD_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="NAD"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3035">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3039">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3055_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3124">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3124_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3124_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3124_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3124_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3036">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3036_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3036_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3036_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3036_5">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3045">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3042">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3042_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3042_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3042_4">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3164">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3229">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="9"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3251">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="9"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_NAD_e3207">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="DGS">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="DGS" maxOccurs="1" minOccurs="0" name="S_DGS_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="DGS"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8273">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8351">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="7"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8078">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="7"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8092">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e7124">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e7088">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="8"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e7106">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e6411">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8339">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8364">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8410">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8126">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8158">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8186">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8246">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8246_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8246_3">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8255">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8325">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_DGS_e8211">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="HYN">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="HYN" maxOccurs="1" minOccurs="0" name="S_HYN_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="HYN"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e7173">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e7171">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e1225">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e7140">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e7143">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_HYN_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="QTY">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="QTY" maxOccurs="1" minOccurs="0" name="S_QTY_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="QTY"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_QTY_e6063">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_QTY_e6060">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="15"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_QTY_e6411">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="CCI2">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="CCI2" maxOccurs="1" minOccurs="0" name="S_CCI2_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="CCI2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e7059">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e6313">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e6321">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e6155">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e6154">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="70"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e7037">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="17"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e1131">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e3055">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e7036_1">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_CCI2_e7036_2">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="MEA">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="MEA" maxOccurs="1" minOccurs="0" name="S_MEA_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="MEA"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6311">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6313">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6321">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6155">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6154">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="70"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6411">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6314">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="18"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6162">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="18"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6152">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="18"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e6432">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_MEA_e7383">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="UNT">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="UNT" maxOccurs="1" minOccurs="0" name="S_UNT_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="UNT"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNT_e0074">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNT_e0062">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="UNZ">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:Segment">
										<xsd:sequence>
											<xsd:element default="UNZ" maxOccurs="1" minOccurs="0" name="S_UNZ_tag">
												<xsd:annotation>
													<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
														<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
													</xsd:appinfo>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="3"/>
														<xsd:enumeration value="UNZ"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNZ_e0036">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element maxOccurs="1" minOccurs="0" name="S_UNZ_e0020">
												<xsd:simpleType>
													<xsd:restriction base="inhouse:AN">
														<xsd:length value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
