docx_files/inhouse/940_-_inbound_-_sent_by_client_-Order_Creation_File_Layout_v2.docx.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns="http://www.seeburger.com/Project_Name/Schema_Name" xmlns:bic="http://www.seeburger.com/bicng/lang/schema/" xmlns:inhouse="http://www.seeburger.com/bicng/lang/schema/inhouse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" bic:messageType="INHOUSE" elementFormDefault="qualified" targetNamespace="http://www.seeburger.com/Project_Name/Schema_Name">
	<xsd:import namespace="http://www.seeburger.com/bicng/lang/schema/inhouse" schemaLocation="platform:/plugin/com.seeburger.bicng.lang.schema.facade.inhouse/resources/inhouse.xsd"/>
	<xsd:element name="Schema_Name">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="inhouse:InhouseMessageRoot">
					<xsd:sequence>
						<xsd:element maxOccurs="999999" minOccurs="1" name="Message_Root">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:InhouseSegmentGroup">
										<xsd:sequence>
											<xsd:element maxOccurs="10" minOccurs="0" name="PARTNER">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="PARTNER " maxOccurs="1" minOccurs="0" name="PARTNER">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																			<xsd:enumeration value="PARTNER "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="PARTNER">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ROUTE">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ROUTE">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="COMPANY">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="COMPANY">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SET">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SET">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="BEGIN">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1020_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1020_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1020_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Order__Status">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Order_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="22"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="PO_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="22"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Link_Sequence_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Master_Link_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="22"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Transaction_Type_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Action_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Parcel_Carrier_Account_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Warehouse_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="External_Load_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_Number_">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1040_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1040_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1040_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Identifier_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Name">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ID_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1060_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1060_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1060_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1060_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1060_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1060_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1070_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1070_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1070_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="City">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="State">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="PostalZip">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Country">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Location_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Location">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="State_Extended">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1090_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1090_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1090_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Date_">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1110_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1110_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1110_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Date">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Time">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1120_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1120_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1120_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Remark">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1125_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1125_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1125_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Order_Carrier_Flag">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Carry_Unit_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Power_Unit_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Vessel">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Voyage">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1130_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1130_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1130_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Equipment_Description_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Temperature">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="6"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_of_Measure">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Temperature">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="6"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_of_Measure">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Message">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1140_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1140_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1140_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Method_of_Payment">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="W6602
Transportation_Method">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Pallet_exchange_code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_Load_Option_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Route">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="FOB_Point_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="FOB_Point">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="COD_Method_of_Payment
Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Amount">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="17"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SCAC">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Pallet_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1141_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1141_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1141_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="A1SHIP_SHIP_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="100"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Reference_1">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Reference_2">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Reference_3">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Reference_4">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Reference_5">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Residential_Flag">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Signature_Required_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Delivery_Confirmation_Required">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Saturday_Delivery">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Insurance_Flag">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Insurance_Charge_Amount">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Insurance_Declare_Amount">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1142_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1142_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1142_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Parcel_Message">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="250"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_1144_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_1144_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_1144_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Name">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Address_1">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Address_2">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_City">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_State">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Zip">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Country">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Phone">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Return_Contact">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2005_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2005_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2005_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Assigned_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="9"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2020_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2020_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2020_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="17"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SKU">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="UPC_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Item_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Level_2">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="5"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Hold_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shelf_life_days_">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Condition_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2030_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2030_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2030_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2040_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2040_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2040_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2045_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2045_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2045_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Remark">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_2050_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_2050_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_2050_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Pack">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Size">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="UOM">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight_Unit_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="I940_3010_004010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="I940_3010_004010    " maxOccurs="1" minOccurs="0" name="Record_ID">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																			<xsd:enumeration value="I940_3010_004010    "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Total_Quantity">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="9"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Total_Weight">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_of_Measurement_">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="END" maxOccurs="1" minOccurs="0" name="END">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																			<xsd:enumeration value="END"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
