docx_files/inhouse/944_-_outbound_-_sent_by_MTE_-_Receipt_Confirmation_File_Layout_v2.docx.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns="http://www.seeburger.com/Project_Name/Schema_Name" xmlns:bic="http://www.seeburger.com/bicng/lang/schema/" xmlns:inhouse="http://www.seeburger.com/bicng/lang/schema/inhouse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" bic:messageType="INHOUSE" elementFormDefault="qualified" targetNamespace="http://www.seeburger.com/Project_Name/Schema_Name">
	<xsd:import namespace="http://www.seeburger.com/bicng/lang/schema/inhouse" schemaLocation="platform:/plugin/com.seeburger.bicng.lang.schema.facade.inhouse/resources/inhouse.xsd"/>
	<xsd:element name="Schema_Name">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="inhouse:InhouseMessageRoot">
					<xsd:sequence>
						<xsd:element maxOccurs="999999" minOccurs="1" name="Message_Root">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:InhouseSegmentGroup">
										<xsd:sequence>
											<xsd:element maxOccurs="10" minOccurs="0" name="PARTNER">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="PARTNER " maxOccurs="1" minOccurs="0" name="PARTNER">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																			<xsd:enumeration value="PARTNER "/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="PARTNER">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SET">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SET">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ROUTE">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ROUTE">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="COMPANY">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="COMPANY">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="BEGIN">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="5"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1020">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1020" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1020"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reporting_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Date_of_Receipt">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Warehouse_Receipt_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Depositor_Order_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="22"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Shipment_Identification">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Time_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Time">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Master_Reference">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="22"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Link_Sequence_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="383"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1040">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1040" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1040"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_ID_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Name">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ID_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="351"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1040">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1040" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1040"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_ID_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Name">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ID_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="351"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1040">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1040" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1040"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_ID_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Name">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="ID_Type">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Entity_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="80"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="351"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1060">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1060" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1060"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Address">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="55"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="386"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1070">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1070" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1070"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="City">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="State">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="PostalZip">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Country">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Location_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Location">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="State_Extended">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="410"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1090">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1090" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1090"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="418"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1110">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1110" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1110"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Date">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="8"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="486"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1130">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1130" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1130"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Transportation_Method">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="SCAC">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Routing">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Equipment_Initial">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Equipment_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Seal_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Seal_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Seal_Status_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_Load_Option_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="407"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1140">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1140" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1140"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Temperature_Probe_Location_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Temperature">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="6"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="488"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="1150">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="1150" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="1150"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_of_Pallets_Received">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="5"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_of_Pallets_Shipped_or_Exchanged">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="5"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="486"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2020">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2020" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2020"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_Received">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="9"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_of_Measurement_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="UPC_Case_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID_Qualifier_">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Lot_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Warehouse_Detail_Adjustment_Identifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="48"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reason_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="306"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2030">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2030" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2030"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Product_Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Description_2">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Description_3">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Description_4">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="40"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Item_Description_2">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="60"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="271"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2040">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2040" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2040"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="30"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Reference_Description">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="45"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="418"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2050">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2050" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2050"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="20"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight_Qualifier">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Weight_Unit_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="1"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="461"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2070">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2070" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2070"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="17"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_Of_Measure">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Receiving_Conditions">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Lot_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Damage_Reason_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="461"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2070">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2070" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2070"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="17"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_Of_Measure">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Receiving_Conditions">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Lot_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Damage_Reason_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="461"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="2070">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="2070" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="2070"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="17"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Unit_Of_Measure">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Receiving_Conditions">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Lot_Number">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Damage_Reason_Code">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="461"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="3010">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="3010" maxOccurs="1" minOccurs="0" name="Record_Type">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="4"/>
																			<xsd:enumeration value="3010"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_Received">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="9"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_Shipped">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="12"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Quantity_on_Hold">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="11"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="Filler">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="464"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="10" minOccurs="0" name="">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="END" maxOccurs="1" minOccurs="0" name="END">
																	<xsd:annotation>
																		<xsd:appinfo source="http://www.seeburger.com/bicng/lang/schema/">
																			<identifyingField xmlns="http://www.seeburger.com/bicng/lang/schema/inhouse">true</identifyingField>
																		</xsd:appinfo>
																	</xsd:annotation>
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="3"/>
																			<xsd:enumeration value="END"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
